body {
    font-family: "Lexend Mega", sans-serif;
    color: black;
    font-size: 1.375rem;
    text-align: center;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: black;
    font-size: .85rem;
}
